/* Banner Section */
.carousel-item img {
    height: 650px;
    width: 100%;
}

/* Navbar */
nav ul li a {
    color: white;
}

nav a:hover {
    color: orangered;
}

/* Package Section */
.brand-btn {
    width: 200px;
    background-color: orangered;
    border: 2px solid orangered;
}

.brand-bg {
    background-color: orangered;
}

.bg {
    background-color: rgb(253, 179, 152);
}

.brand-color {
    color: orangered;
}


/* Hot Package */
.hot-package {
    width: 90%;
    border-radius: 25px;
    background-color: rgb(250, 208, 194);
    position: relative;
    bottom: 60px;
}

.hot {
    width: 60px;
    background-color: orangered;
    bottom: 10px;
    right: -75%;
}

.store {
    background-color: black;
}

.footer {
    height: 300px;
}

footer i {
    font-size: 30px;
}

footer p {
    font-size: 12px;
}